/* SCSS Document - Master document to combine all SCSS files for the project*/
/* CSS Document - Style and Presentation */
#container {
  background-color: green;
  padding-left: 10px; }

.errMsg {
  color: red;
  padding-left: 10px; }

footer {
  text-align: center; }

/* SCSS Document - Page Structure*/
#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.clearFloat {
  clear: both; }

form fieldset {
  width: 70%; }

form fieldset p {
  clear: both; }
  form fieldset p label {
    display: inline-block;
    width: 80px;
    text-align: left;
    padding-right: 5px;
    vertical-align: top; }
  form fieldset p input, form fieldset p select, form fieldset p textarea {
    width: 300px; }

#contactCheck {
  display: none; }

.presenterBlock {
  width: 300px;
  margin-left: 100px;
  margin-bottom: 20px; }
  .presenterBlock .displayfName {
    font-size: x-large;
    font-weight: 500; }
  .presenterBlock .displaylName {
    font-size: x-large;
    font-weight: 500; }

/* SCSS Document - nav element*/
nav {
  background-color: lightgreen; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav li {
    float: left; }
  nav a {
    display: block;
    padding: 10px 10px; }

nav ul li:last-child {
  float: right; }

/* CSS Document - 12 Column Grid Layout */
div.row {
  clear: both; }

div.row:after {
  clear: both;
  content: "";
  display: table; }

div[class^="col-"] {
  float: left; }

div.col-1-1 {
  wdith: 100%; }

div.col-1-2 {
  width: 50%; }

div.col-1-3 {
  width: 33.33%; }

div.col-2-3 {
  width: 66.67%; }

div.col-1-4 {
  width: 25%; }

div.col-3-4 {
  width: 75%; }

/* SCSS Document Style rules for displaying the event blocks and content*/
.eventBlock {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }
  .eventBlock div {
    display: inline; }
  .eventBlock .eventTitle {
    font-size: larger;
    font-weight: bold; }

/*# sourceMappingURL=pit.css.map */
