/* CSS Document - Style and Presentation */
#container {
  background-color: green;
  padding-left: 10px; }

.errMsg {
  color: red;
  padding-left: 10px; }

footer {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
