@charset "utf-8";
/* CSS Document - Style and Presentation */

$primary-color: green;
$secondary-color: lightgreen;

#container {
	background-color:$primary-color;	
	padding-left:10px;
}


.errMsg {
	color:red;	
	padding-left:10px;
}

footer {
	text-align:center;	
}




